@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #ffd074;
}

h1 {
  color: #fff;
  background-color: #ea2222;
  padding: 0.8rem;
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
}

.source_info {
  background-color: #fff;
  padding: 1rem;
  text-align: left;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
}
.source_info .underline,
.source_info a {
  font-weight: bold;
}
.source_info p {
  margin: 0 0 0.5rem 0;
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
}
.source_info #last-updated {
  /* font-style: italic; */
  font-weight: bold;
}

#container {
  margin: 0.5rem 0 0 0;
}

.data {
  width: fit-content;
  margin: 3rem auto;
  padding: 1.5rem;
  border-top-left-radius: 20px;
  background-color: #fff;
}
.data .data-title {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5625rem;
}
.data p {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  margin: 0.5rem 0 0 0;
}
.data #total {
  color: #1043c6;
}
.data #death {
  color: #ff0000;
}
.data #recover {
  color: #1ead19;
}
#data-total {
  box-shadow: 20px 20px 0px -1px #c32f27, 25px 26px 12px 0px #353535;
}
#data-death {
  box-shadow: 20px 20px 0px -1px #d8572a, 25px 26px 12px 0px #353535;
}
#data-recover {
  box-shadow: 20px 20px 0px -1px #db7c26, 25px 26px 12px 0px #353535;
}
